<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список продуктов</title>
</head>
<body>
<h1>Список продуктов</h1>
<table>
    <thead>
    <tr>
        <th>ID продукта</th>
        <th>Название</th>
        <th>Количество</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.quantity}"></td>
    </tr>
    </tbody>
</table>
<a href="/api/inv/getAllProductsForm">Вернуться к форме запроса</a>
</body>
</html>