<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список продуктов</title>
</head>
<body>
<h1>Список продуктов</h1>
<table>
    <thead>
    <tr>
        <th>ID продукта | </th>
        <th>Название | </th>
        <th>Цена | </th>
        <th>Количество</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="inventory : ${inventories}">
        <td th:text="${inventory.productDTO.id}"></td>
        <td th:text="${inventory.productDTO.name}"></td>
        <td th:text="${inventory.productDTO.price}"></td>
        <td th:text="${inventory.quantity}"></td>
    </tr>
    </tbody>
</table>
<a href="/api/inv/getAllProductsForm">Вернуться к форме запроса</a>
</body>
</html>