<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Добро пожаловать!</h1>
    <div class="mt-4">
        <a href="/api/inv/buyProductForm" class="btn btn-primary">Купить</a>
        <a href="/api/inv/sellProductForm" class="btn btn-success">Продать</a>
        <a href="/api/inv/getAllProducts" class="btn btn-info">Список продуктов</a>
    </div>
</div>
</body>
</html>