<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список продуктов</title>
</head>
<body>
<h1>Продукты магазина с ID [[${shopId}]]</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Цена</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}">Product ID</td>
        <td th:text="${product.name}">Product Name</td>
        <td th:text="${product.price}">Product Price</td>
    </tr>
    </tbody>
</table>

<a href="/api/home">На главную</a>
</body>
</html>