<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Продать продукт</title>
    <script>
        function sellProduct() {
            const shopId = document.getElementById('shopId').value;
            const productId = document.getElementById('productId').value;
            const count = document.getElementById('count').value;

            fetch('/api/inv/sellProduct', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `shopId=${shopId}&productId=${productId}&count=${count}`
            })
            .then(response => {
                if(!response.ok) {
                    return response.text().then(errorMessage => {
                        throw new Error(errorMessage);
                    });
                }
                return response.text();
            })
            .then(data => {
                document.getElementById('result').innerHTML = data;
            })
            .catch(error => {
                document.getElementById('result').innerHTML = '<span style="color: red;">Ошибка, такого магазина или продукта не существует</span>';
            });
        }
    </script>
</head>
<body>
<h1>Продать продукт</h1>
<label for="shopId">ID магазина:</label>
<input type="text" id="shopId" name="shopId"><br>
<label for="productId">ID продукта:</label>
<input type="text" id="productId" name="productId"><br>
<label for="count">Количество:</label>
<input type="text" id="count" name="count"><br>
<button onclick="sellProduct()">Продать</button>
<div id="result"></div>
<a href="/api/home">На главную</a>
</body>
</html>